## Explore, aggregate and transform the attributes (1.5 marks) 
- i. Write a Python script to read the input CSV file and perform any necessary pre-processing so that the data becomes suitable to be used.

- ii.  Describe the pre-processing you carried out with justifications in your report.
    

    (Hint: Think about missing values and categorical attributes. 
    How to deal with them? 
    Should we turn them all into dummies? 
    Use only some? 
    Create new informative attributes by aggregating some attributes? 
    And so on.)

- iii. Submit the pre-processed data in CSV format.

In [1]:
import numpy as np
import pandas as pd

from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score
from sklearn.model_selection import cross_validate

### Read CSV File

In [2]:
csv_path = r'https://raw.githubusercontent.com/Jordwy/Data-Mining-Assessment-1/2bdb43446ec7dff44be25115218c017c9ab09b75/Assignment%201%20Data.csv'

df = pd.read_csv(csv_path)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 19 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Default          1000 non-null   int64
 1   checkingstatus1  1000 non-null   object
 2   duration         995 non-null    float64
 3   history          996 non-null    object
 4   purpose          987 non-null    object
 5   amount           984 non-null    float64
 6   savings          995 non-null    object
 7   employ           990 non-null    object
 8   status           993 non-null    object
 9   others           994 non-null    object
 10  residence        1000 non-null   int64
 11  property         992 non-null    object
 12  age              998 non-null    float64
 13  otherplans       1000 non-null   object
 14  housing          994 non-null    object
 15  cards            996 non-null    float64
 16  job              991 non-null    object
 17  liable           997 non-null    float64
 18  foreign          988 non-null    object
dtypes: float64(5), int64(2), object(12)
memory usage: 148.6+ KB

In [ ]:
''' Column Info and null count

    Review of how to handle each attribute when there are missing values

 #   Column           Non-Null Count  Dtype  
---  ------           --------------  -----  
 0   Default          1000 non-null   int64         # class label
 1   checkingstatus1  1000 non-null   object        # No null
 2   duration         995 non-null    float64       # 5 nulls - replace with mean value
 3   history          996 non-null    object        # 4 null - remove them as assume this is important
 4   purpose          987 non-null    object        # 13 null - fill null with 'A410' which means "others" as not sure important 
 5   amount           984 non-null    float64       # 16 null - remove them as assume this is important
 6   savings          995 non-null    object        # 5 null - replace with 'A65' which means "unknown/no savings account""unknown/no savings account
 7   employ           990 non-null    object        # 10 null - remove them as assume this is important
 8   status           993 non-null    object        # 7 null - remove them as see no other appropriate way to fill
 9   others           994 non-null    object        # 6 null - replace with 'A101' as ~90% of rows are this and means 'none' 
 10  residence        1000 non-null   int64         # No null
 11  property         992 non-null    object        # 8 null - replace with 'A124' meaning 'unknown/no property' which ~15% of rows are
 12  age              998 non-null    float64       # 2 null - replace with mea
 13  otherplans       1000 non-null   object        # No null -
 14  housing          994 non-null    object        # 6 null -
 15  cards            996 non-null    float64       # 4 null -
 16  job              991 non-null    object        # 9 null -
 17  liable           997 non-null    float64       # 3 null -
 18  foreign          988 non-null    object        # 12 null -

'''

' Column Info and null count\n\n #   Column           Non-Null Count  Dtype  \n---  ------           --------------  -----  \n 0   Default          1000 non-null   int64         # class label\n 1   checkingstatus1  1000 non-null   object        # No null\n 2   duration         995 non-null    float64       # 5 nulls - replace with mean value\n 3   history          996 non-null    object        # 4 null - remove them as assume this is important\n 4   purpose          987 non-null    object        # 13 null - fill null with \'A410\' which means "others" as not sure important \n 5   amount           984 non-null    float64       # 16 null - remove them as assume this is important\n 6   savings          995 non-null    object        # 5 null - replace with \'A65\' which means "unknown/no savings account""unknown/no savings account\n 7   employ           990 non-null    object        # 10 null - \n 8   status           993 non-null    object        # 7 null -\n 9   others           994 non-null    object        # 6 null - \n 10  residence        1000 non-null   int64         # No null -\n 11  property         992 non-null    object        # 8 null -\n 12  age              998 non-null    float64       # 2 null -\n 13  otherplans       1000 non-null   object        # No null -\n 14  housing          994 non-null    object        # 6 null -\n 15  cards            996 non-null    float64       # 4 null -\n 16  job              991 non-null    object        # 9 null -\n 17  liable           997 non-null    float64       # 3 null -\n 18  foreign          988 non-null    object        # 12 null -\n'

In [45]:
df['age'].skew()

np.float64(1.0227800760280712)

In [43]:
df['age'].mean()

np.float64(35.53707414829659)

In [44]:
df['age'].median()

np.float64(33.0)

In [ ]:
df['age'].mean()

In [41]:
df['property'].value_counts(normalize=True, dropna=False) * 100

property
A123    32.7
A121    28.2
A122    22.9
A124    15.4
NaN      0.8
Name: proportion, dtype: float64