## Explore, aggregate and transform the attributes (1.5 marks) 
- i. Write a Python script to read the input CSV file and perform any necessary pre-processing so that the data becomes suitable to be used.

- ii.  Describe the pre-processing you carried out with justifications in your report.
    

    (Hint: Think about missing values and categorical attributes. 
    How to deal with them? 
    Should we turn them all into dummies? 
    Use only some? 
    Create new informative attributes by aggregating some attributes? 
    And so on.)

- iii. Submit the pre-processed data in CSV format.

In [1]:
import numpy as np
import pandas as pd

from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score
from sklearn.model_selection import cross_validate

### Read CSV File

In [2]:
csv_path = r'https://raw.githubusercontent.com/Jordwy/Data-Mining-Assessment-1/2bdb43446ec7dff44be25115218c017c9ab09b75/Assignment%201%20Data.csv'

df = pd.read_csv(csv_path)

In [ ]:
df.shape()

,Default,duration,amount,residence,age,cards,liable
count,1000.000000,995.000000,984.000000,1000.000000,998.000000,996.000000,997.000000
mean,0.300000,20.884422,3263.087398,2.845000,35.537074,1.407631,1.155466
std,0.458487,12.069455,2830.697012,1.103718,11.379482,0.578077,0.362531
min,0.000000,4.000000,250.000000,1.000000,19.000000,1.000000,1.000000
25%,0.000000,12.000000,1363.250000,2.000000,27.000000,1.000000,1.000000
50%,0.000000,18.000000,2302.500000,3.000000,33.000000,1.000000,1.000000
75%,1.000000,24.000000,3965.250000,4.000000,42.000000,2.000000,1.000000
max,1.000000,72.000000,18424.000000,4.000000,75.000000,4.000000,2.000000